body {
    background-image: url("https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    color: white;
}

a:link {
    /* background-color: rgb(0, 225, 255); */
    color: rgb(0, 225, 255);
    font-size: 34px;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:active {
    font-size: 34px;
    font: bold;
    text-decoration: none;
    color: brown;
}

a:hover {
    font-size: 34px;
    font: bold;
    text-decoration: none;
    color: rgb(242, 255, 0);
}

.menubar {
    background-color: blue;
    color: red;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    border-style: inset;
    border-color: red;
    border-width: 5px;
}